/* CSS for mobile */
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
/* *{
    box-sizing: border-box;
} */
.header-head{
    text-align: center;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    color: rgb(27, 26, 26);
 

}
.header-head img{
    width:150px;
    height: 50px;
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 10px;
    
   
}
.texty input{
    width: 270px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding-left: 7px;
    border-radius: 5px;
    
}
::placeholder{
    font-size: 10px;
    color: rgb(27, 26, 26);
   
}
.texty button{
    margin-top: 10px;
    width: 270px;
    height: 30px;
    margin-bottom: 10px;
    border:none;
    border-radius: 5px;
    background-color: #4CB5F9;
    color: white;
   
}

.texty-2 h2{
    font-size: 15px;
    padding-bottom: 15px;
    max-width: 100%;
}
.texty-2 span hr{
  width: 130px;

}
#one hr{
    position: relative;
    top:22px;
    right: 90px;
}
#two hr{
    position: relative;
    top:-37px;
    left: 90px;
}
.texty-3{
    padding-bottom: 40px;
 
}
.texty-3 a{
    text-decoration: none;
    color: navy;
    margin-left: 2px;
   
    
}
#four a{
    margin-top: 40px;
    font-size: 13px;
    color:rgb(27, 26, 26) ;
 
}
.spacing{
    margin-bottom: 20px;
}
.header-head::after{
    clear: both;
    display: table;
    content: '';
}

/*  */
.footer-head{
    text-align: center;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    color: rgb(27, 26, 26);


}

.mexty h4{
    color:rgb(27, 26, 26); 
    font-weight: lighter;
    max-width: 100%;
}
.mexty a{
    text-decoration: none;
    color: #40b3ff;

}
.footer-head::after{
    clear: both;
    display: table;
    content: '';
}
@media only screen and (max-width: 480px) {
    .texty-2 span hr {
      width: 80px;
    }
    .texty input{
        width: 250px;
     
    }
    .texty button{
     
        width: 250px;
     
       
    }
    #one hr{
       
        right: 65px;
    }
    #two hr{
      
        left: 65px;
    }


  }
  
  
  
  
  
  
  
